header{
    background-image: url(https://media.istockphoto.com/id/1146517111/photo/taj-mahal-mausoleum-in-agra.jpg?s=612x612&w=0&k=20&c=vcIjhwUrNyjoKbGbAQ5sOcEzDUgOfCsm9ySmJ8gNeRk=);
    height: 100vh;
    color: black;
    text-align: center;
background-size: cover;
}

